@import "../styles/default.css" screen;
@import "media-queries"; 
@import "mixin"; 

$main-bg :#333841;
$color-black:#293440;
$color-orange:#E5D092;
$color-orange2:#FFC86B;
$сolor-black25: rgba(0,0,0, 0.25);


 
 
html {
    background: $main-bg;
}

.HD2 {
    @include HD2();
  }
 
.MB-block {
    margin-bottom: 100px;
}

section {
    padding: 0 15px;
}

.Main {
    max-width: 2050px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%; 
   
}



.container {
    @include container-width();
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

}

.top-bar {
    background: $color-black;
    box-shadow: 0 4px 4px #E5D092;
    position: relative;
    z-index: 3;
    transition: all 0.5s linear;
    
    
    &__wrap {
        height: 75px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}

.fixed {
    width: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: all 0.5s linear;
    
}
.body-padding {
    padding-top: 75px; 
}


.logo {
    width: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}
.menutop {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    // margin-right: 20px;

        @include max-s(992px){
          display: none; 
        }

    $this: &; //создаем переменную в селекторе

    @at-root // отменяет вложеность
    a#{$this}__link {
        @include fontU(500,20px,22px);
        color: #fff; 
        text-decoration: none;
        margin-right: 20px;

        &:hover {
            text-decoration: underline;
            color: #F1CE93; 
          }
    }
}

.telephone {
    @include fontU(600,24px,28px);
    font-size: clamp(16px, 5vw, 24px);
    color: $color-orange;

        @include max-s(992px){
            display: none; 
        }
    a {
        @include fontU(600,24px,28px);
        font-size: clamp(16px, 5vw, 24px);
        color: $color-orange;
    }

    a:hover {
        @include fontU(600,24px,28px);
        font-size: clamp(16px, 5vw, 24px);
        color: $color-orange;
        text-decoration: underline;
        cursor: pointer;
    }
}

.mob-menu {
    position: relative;
    z-index: 1;
}

/* HAMBURGER */

#hamburger {
    display: none;
    width: 30px;
    height: 22px;
    margin-top: 24px;
    transform: translateY(-50%);
    transition: all .3s linear;
  
      @include max-s(992px)  {
          display: block;
      }
  
  
  
    span {
      position: relative;
      display: block;
      width: 100%;
      height: 3px;
      top:8px;
      background-color: #fff;
      -webkit-transition: all .3s linear;
      transition: all .3s linear;
  
      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        top: -7px;
        left: 0px;
        background-color: #fff;
        -webkit-transition: all .3s linear;
        transition: all .3s linear;
      }
      &:after {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        top: 7px;
        left: 0px;
        background-color: #fff;
        -webkit-transition: all .3s linear;
        transition: all .3s linear;
      }
    }
    &.active {
      top: -51px;
      z-index: 10;
      transform: translateY(-50%) rotate(-180deg);

  
      span {
        background-color: transparent;
        
        &:before {
          top: 0;
          transform: rotate(-45deg);
        }
        &:after {
          top: 0;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
  
      }
  
    }
    &:hover {
      cursor: pointer;
    }
  }

/* END  #hamburger */


.dropDownMenu {
    display: none;
    position: absolute;
    right: 0;
    top: 45px;
    z-index: 5;
    width: 200px;
    background: #9D9D9D;
    padding: 15px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    ul {
        li {
            
             a {

                &.mob-menu__link {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    background: #F1CE93;
                    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 10px;
                    height: 50px;
                    color: #293440;
                    font-size: 16px;
                    @include fontU(500,18px,18px);
                    text-align: center;
                    text-decoration: none;
                    margin-bottom: 15px;

                    &:hover {
                        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.40);
                    }
                }
                
                &.mob-menu__phone {
                    display: block;
                    @include fontU(500,18px,20px);
                    color: #293440;
                    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                    margin: 8px 0;
                    padding: 3px 0;
                }

            }
        }
    }

}


.header {
    background: url('../images/bg-header.jpg') center top no-repeat;
    width: 100%;
    height: 706px;
    margin-bottom: 80px;
    padding: 0 15px;
    position: relative;
    z-index: 1; 
    background-size: cover;

        @include max-s(992px){
            background-size: cover;
            height: auto;
            margin-bottom: 25px;
        }

    &-wrap {
        display: flex;
        position: relative;
        margin-top: 140px;
        align-items: center;

            @include max-s(992px){
                flex-wrap: wrap; 
                margin-top: 70px;
            }
    }
    
    &__text {
        display: flex;
        flex: 0 0 100%;

    
        &-wrap{
            display: flex;
            @include container-width();
            width: 100%;
            margin: 0 auto;
            // align-items: center;
        } 
        
        &-content {
            width: 51%;

                @include max-s(992px){
                    width: 100%;
                }
        }
        &-title {
            font-family: "Russo One", sans-serif;
            font-weight: normal;
            // font-size: 75px;
            font-size: clamp(40px, 5vw, 74px);
            line-height: 1.2;
            color: $color-orange2;
            // margin-bottom: 66px;
            margin-bottom: 8%;

                @include max-s(992px){
                    text-align: center;
                }


        }

        &-desc {
            width: 90%;
            @include fontU(500, 20px, 24px);
            // font-size: clamp(14px, 2.5vw, 20px);
            font-size: clamp(14px, calc(16px + 8 * ((100vw - 320px) / 960)), 20px);
            color: #fff;
            margin-bottom: 30px;

                @include max-s(992px){
                    text-align: center;
                    width: 100%;
                }
        }
    }
   
    
    &__img {
        display: flex;
        position: relative;
        flex: 0 0 48%;
        transform: translate(-100%, 0px);
        font-size: 0;

        @include max-s(992px){
            flex: 0 0 100%;
            transform: translate(0%, 0px);
            justify-content: center;
            padding-bottom: 20px;
        }

        img {
            width: 80%;
        }
    }
}

.box-bg {
    background: $color-black;
    box-shadow: 0 4px 4px $сolor-black25;
    border-radius: 10px;
}



.Box {
    padding: 0 15px;
    margin-bottom: 150px;
    
    @include max-s(992px)  {
        margin-bottom: 25px;
    }

    &-wrap {
        display: flex;
        position: relative;
        align-items: center;
        
            @include max-s(992px){
                background: $color-black;
                box-shadow: 0 4px 4px $сolor-black25;
                border-radius: 10px;
                flex-wrap: wrap;
                padding: 20px;

            }
    }

    &__info {
        display: flex;
        flex: 0 0 100%;

        &-wrap {
            @include container-width();
            width: 100%;
            margin: 0 auto;
            display: flex;
            padding: 60px 80px 80px 80px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            position: relative;
            background: $color-black;
            box-shadow: 0 4px 4px $сolor-black25;
            border-radius: 10px;

                @include max-s(992px){
                    padding: 0px;
                    background: none;
                    box-shadow: none;

                }
        }
        
        &-content {
            flex:0 0 55%;

            @include max-s(992px){
                flex:0 0 100%;
                text-align: center;
            }
        }
    } 
    

    &__img {
        display: flex;
        position: relative;
        flex: 0 0 43%;
        transform: translate(-100%, 0px);
        font-size: 0;
        margin: -100px 0 -120px;
        z-index: 2;
        
            @include max-s(992px){
                transform: translate(0%, 0px);
                flex: 0 0 100%;
                margin: 0; 
                display: flex;
                justify-content: center;
            }
        
        img {
            @include max-s(992px)  {
                width: 50%;
            }
        }
    }
}

.Box-title {
    @include HD2();
}
.Box-title--center {
    text-align: center;
}
.Box-text {
    @include textP();
    @include max-s(992px){
        margin-bottom: 20px;
    }
}

// .BoxRight .Box-title, 
// .BoxRight .Box-text {
//     // text-align: right;

//         @include max-s(992px)  {
//             text-align: center;
//         }

// }
.BoxRight .Box__img {
    flex: 0 0 45%;
    transform: translate(0%, 0px);
    justify-content: flex-end;
    order: 1;

        @include max-s(992px)  {
            flex: 0 0 100%;
            justify-content: center;
        }
}
.BoxRight .Box__info {
    transform: translate(-45%, 0px);
    order: 2;

    @include max-s(992px){
        order: 1;
        transform: translate(0%, 0px);
    }
}
.BoxRight .Box__info-wrap {
    justify-content: flex-end;
}
.BoxRight .Box__info-content {
    flex: 0 0 52%;

    @include max-s(992px){
        flex: 0 0 100%;
    }
}


.Block-content {
    @include container-width();
    width: 100%;
    margin: 0 auto;
    padding: 60px 80px 80px 80px;
    // display: flex;
    // flex-wrap: nowrap;
    // justify-content: space-between;
    position: relative;
    background: $color-black;
    box-shadow: 0 4px 4px $сolor-black25;
    border-radius: 10px;

        @include max-s(992px){
            padding: 20px;
        }

}

.pb40 {
    padding-bottom: 40px;
}

footer {
    background: $color-black;
   
}

.Foot-in {}

.Foot-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid #fff;

    @include max-s(992px){
        text-align: center;
    }

   

    &__info {
        width: 50%;
        padding: 40px 40px 40px 75px ;

        @include max-s(992px){
            width: 100%;
            padding: 20px ;
        }

    }
    &__img {
        position: absolute;
        top: -70px;
        right: 0;

        @include max-s(992px){
            position: static;
            width: 100%;
            margin-bottom: 15px;
        }

        img {
            @include max-s(992px){
                width: 55%;

            }
        }
    }

}

.Foot-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    background: $color-black;
    position: relative;
    z-index: 10;
    

    @include max-s(560px){
        text-align: center;
        padding: 10px;
    }

    &__tel {
        // width: 50%;
        @include fontU(500,20px,22px);
        color: #fff;
        
            @include max-s(560px){
                width: 100%; 
                margin-bottom: 20px;
            }

        a {
            @include fontU(500,20px,22px);
            color: #fff;
            &:hover {
                text-decoration: underline;
            }
        }

        span {
            @include max-s(700px){
              display: block; 
            }

            &:not(:last-child){
                @include max-s(700px){
                    margin-bottom: 5px;
                  }
            }
        }
    }
    &__messangers {

            @include max-s(560px){
                width: 100%; 
            }
            
        a {
            margin: 0 5px;
            &:hover {
                opacity: 0.6;
            }
        }
    }

}

.video {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto 80px;
    padding: 0 15px;

    @include max-s(992px){
        margin: 0 auto 25px;
    }


}

.youtube {
    position: relative;
    padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  .youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  video {
    width: 100%;
    height: auto;
    max-height: 100%;
  }


.Reviews {
    margin-bottom: 80px;
    padding: 0 15px;

        @include max-s(992px){
            margin-bottom: 25px; 
        }
}

.Slider-reviews {
    width: 90%;
    margin: 0 auto; 

    @include max-s(768px){
      width: 100%; 
    }
}
.review-item {
    position: relative;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.review-item  a.play{
    position: relative;
    margin-bottom: 20px;
}
.review-item  a.play::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    // margin-top: -32px;
    // margin-left: -32px;
    transition: transform 0.3s ease; 
    background: url('../images/videopng.png') center top no-repeat; 
    background-size: contain;
}
.review-item  a.play:hover::before {
    transform: scale(1.2);
}
.review-title {
    text-align: center;
    @include fontU(400,16px,18px);
    color: #fff;
}


.About, .Faq {
    margin-bottom: 80px;

    @include max-s(992px){
      margin-bottom: 25px; 
    }
}



.About-cont {

    &_text {
        margin-bottom: 20px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        

        @include max-s(768px){
              flex-wrap: wrap;
        }
    }

    p {
        @include textP();

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &.text-left {
            flex: 1 1 auto; 
            order: 2;
        }
    }

    &_img {
        flex: 0 0 44%;
        margin-left: 37px;
        margin-top: -80px;
        order: 2;

        @include max-s(768px){
            order: 1;
            flex: 0 0 90%;
            margin: 0 auto;
            text-align: center;
        }
    }
}


.Home {
    margin: 25px auto;
    a {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        @include fontU(500,20px,22px);
        color: #fff;
        padding-left: 70px;
        text-decoration: none;

        @include max-s(992px){
          padding-left: 20px; 
        }   

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        &::before {
            content:' ';
            display:block;
            background: url('../images/icon-back.svg') center top no-repeat;
            width: 30px;
            height: 23px; 
            margin-right: 10px;
        }
    }
}

.Faq


/* стили блока аккордеон */
.accordion {
    width:100%;
    margin: 0 auto
  }
  /* секции аккордеона */
  .accordion .accordion_item {
    margin-bottom:1px;
    position:relative;
    margin-bottom: 20px;  
  }
  /* заголовки панелей аккордеона */
  .accordion .title_block {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    @include fontU(500,20px,24px);
    color: #293440;
    cursor:pointer;
    background: #F1CE93;
    padding:10px 15px;
    transition:all .2s linear 0;
    border-radius: 5px;
    position: relative;
    z-index: 2;

    @include max-s(768px){
        @include fontU(500,17px,18px);
    }
  }
  /* переключатель панелей, положение вниз */
  .accordion .title_block:after {
    content:'';
    height:10px;
    width:10px;
    flex:0 0 10px;
    display:block;
    border:3px solid #293440;
    border-right-width:0;
    border-top-width:0;
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
    margin-left: 5px;
    // position:absolute;
    // right:12px;
    // top:10px
  }
  /* активный переключатель, положение вверх */
  .accordion .active_block .title_block:after {
    border:3px solid #293440;
    border-left-width:0;
    border-bottom-width:0;
    top:18px
  }
  .accordion .title_block:hover {
    background: #FFE8A4;

  }
  
  /* заголовок активного блока  */
  .accordion .active_block .title_block {
    background: #FFE8A4;

  }
  /* блоки с содержанием */
  .accordion .info {
    display:none;
    width: 98%;
    margin: -10px auto 0;
    padding:20px 15px 10px;
    overflow: hidden;
    background:#f7f7f7;
    border-radius: 5px;
    position: relative;
    z-index: 1;

  }

  .accordion .info p {
    @include textP();
    color: #293440;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
  }
  /* параграф внутри блоков с содержанием */
  .accordion .info_item {
    margin-bottom:10px
  }
  /* картинки внутри аккордеона */
  .accordion .info img {
      height: auto;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  /* полноразмерная картинка */
  .large-img {
      width: 100%;
      margin-bottom: 10px;
  }
  /* миниатюра слева */
  .img-left {
      width: 25%;
      float:left;
      margin:5px 15px 5px 0;
  }
  /* миниатюра справа */
  .img-right {
      width: 25%;
      float:right;
      margin:5px 0 5px 15px;
  }