@charset "UTF-8";

@import "../styles/default.css" screen;

html {
  background: #333841;
}

.HD2 {
  font-weight: 600;
  font-size: 50px;
  line-height: 56px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
}

.MB-block {
  margin-bottom: 100px;
}

section {
  position: relative;
}

.Main {
  max-width: 2050px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-height: 100%;
}

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.top-bar {
  background: #293440;
  -webkit-box-shadow: 0 4px 4px #E5D092;
  box-shadow: 0 4px 4px #E5D092;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.top-bar__wrap {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fixed {
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.body-padding {
  padding-top: 75px;
}

.logo {
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menutop {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

a.menutop__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
}

a.menutop__link:hover {
  text-decoration: underline;
}

.telephone {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  font-size: clamp(16px, 5vw, 24px);
  color: #E5D092;
}

.telephone a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header {
  background: url("../images/bg-header.jpg") center top no-repeat;
  width: 100%;
  height: 706px;
  margin-bottom: 78px;
  padding: 0 15px;
  position: relative;
  z-index: 1;
  background-size: cover;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 140px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.header__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
}

.header__text-content {
  width: 51%;
}

.header__text-title {
  font-family: "Russo One", sans-serif;
  font-weight: normal;
  font-size: clamp(40px, 5vw, 74px);
  line-height: 1.2;
  color: #FFC86B;
  margin-bottom: 8%;
}

.header__text-desc {
  width: 90%;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  font-size: clamp(14px, calc(16px + 8 * ((100vw - 320px) / 960)), 20px);
  color: #fff;
  margin-bottom: 30px;
}

.header__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  -webkit-transform: translate(-100%, 0px);
  -ms-transform: translate(-100%, 0px);
  transform: translate(-100%, 0px);
  font-size: 0;
}

.header__img img {
  width: 80%;
}

.box-bg {
  background: #293440;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.Box {
  padding: 0 15px;
  margin-bottom: 150px;
}

.Box-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Box__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.Box__info-wrap {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 80px 80px 80px;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  background: #293440;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.Box__info-content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 55%;
  flex: 0 0 55%;
}

.Box__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 43%;
  flex: 0 0 43%;
  -webkit-transform: translate(-100%, 0px);
  -ms-transform: translate(-100%, 0px);
  transform: translate(-100%, 0px);
  font-size: 0;
  margin: -100px 0 -120px;
  z-index: 2;
}

.Box-title {
  font-weight: 600;
  font-size: clamp(28px, 5vw, 44px);
  line-height: 1.2;
  color: #fff;
  margin-bottom: 30px;
}

.Box-title--center {
  text-align: center;
}

.Box-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  font-size: clamp(12px, 5vw, 20px);
  color: #F1CE93;
}

.BoxRight .Box__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  -webkit-transform: translate(0%, 0px);
  -ms-transform: translate(0%, 0px);
  transform: translate(0%, 0px);
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.BoxRight .Box__info {
  -webkit-transform: translate(-45%, 0px);
  -ms-transform: translate(-45%, 0px);
  transform: translate(-45%, 0px);
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.BoxRight .Box__info-wrap {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.BoxRight .Box__info-content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 52%;
  flex: 0 0 52%;
}

.Block-content {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 80px 80px 80px;
  position: relative;
  background: #293440;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.pb40 {
  padding-bottom: 40px;
}

footer {
  background: #293440;
}

.Foot-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #fff;
}

.Foot-top__info {
  width: 50%;
  padding: 40px 40px 40px 75px;
}

.Foot-top__img {
  position: absolute;
  top: -70px;
  right: 0;
}

.Foot-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 70px;
  background: #293440;
  position: relative;
  z-index: 10;
}

.Foot-bottom__tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #fff;
}

.Foot-bottom__tel a {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #fff;
}

.Foot-bottom__tel a:hover {
  text-decoration: underline;
}

.Foot-bottom__messangers a {
  margin: 0 5px;
}

.Foot-bottom__messangers a:hover {
  opacity: 0.6;
}

.video {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto 80px;
  padding: 0 15px;
}

.youtube {
  position: relative;
  padding-bottom: 56.25%;
  /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.Reviews {
  margin-bottom: 100px;
  padding: 0 15px;
}

.Slider-reviews {
  width: 90%;
  margin: 0 auto;
}

.review-item {
  position: relative;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.review-item a.play {
  position: relative;
  margin-bottom: 20px;
}

.review-item a.play::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 10px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  background: url("../images/videopng.png") center top no-repeat;
  background-size: contain;
}

.review-item a.play:hover::before {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.review-title {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

/*# sourceMappingURL=layout.css.map */

@media only screen and (max-width: 992px) {
  .header {
    background-size: cover;
    height: auto;
    margin-bottom: 50px;
  }

  .header-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 70px;
  }

  .header__text-content {
    width: 100%;
  }

  .header__text-title {
    text-align: center;
  }

  .header__text-desc {
    text-align: center;
    width: 100%;
  }

  .header__img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-transform: translate(0%, 0px);
    -ms-transform: translate(0%, 0px);
    transform: translate(0%, 0px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 20px;
  }

  .Box {
    margin-bottom: 50px;
  }

  .Box-wrap {
    background: #293440;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px;
  }

  .Box__info-wrap {
    padding: 0px;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .Box__info-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    text-align: center;
  }

  .Box__img {
    -webkit-transform: translate(0%, 0px);
    -ms-transform: translate(0%, 0px);
    transform: translate(0%, 0px);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .Box__img img {
    width: 50%;
  }

  .Box-text {
    margin-bottom: 20px;
  }

  .BoxRight .Box__img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .BoxRight .Box__info {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-transform: translate(0%, 0px);
    -ms-transform: translate(0%, 0px);
    transform: translate(0%, 0px);
  }

  .BoxRight .Box__info-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .Block-content {
    padding: 20px;
  }

  .Foot-top {
    text-align: center;
  }

  .Foot-top__info {
    width: 100%;
    padding: 20px;
  }

  .Foot-top__img {
    position: static;
    width: 100%;
    margin-bottom: 15px;
  }

  .Foot-top__img img {
    width: 55%;
  }
}

@media only screen and (max-width: 768px) {
  .HD2 {
    font-size: 40px;
    line-height: 45px;
  }

  .Slider-reviews {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .Foot-bottom__tel span {
    display: block;
  }

  .Foot-bottom__tel span:not(:last-child) {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 560px) {
  .Foot-bottom {
    text-align: center;
    padding: 10px;
  }

  .Foot-bottom__tel {
    width: 100%;
    margin-bottom: 20px;
  }

  .Foot-bottom__messangers {
    width: 100%;
  }
}